<!document html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<header>
    <a href="/serviceman">main</a>
    <a href="/serviceman/create">create</a>
</header>

<body>
<h1><%= type %></h1> <br>
ID: <%= serviceman.id %> <br>
name: <%= serviceman.name %> <br>
surname: <%= serviceman.surname %> <br>
third name: <%= serviceman.thirdName %> <br>
rank: <%= serviceman.rank %> <br>
date of birth - <%= serviceman.dateOfBirth.toLocaleString() %> <br>
</body>
</html>